header {
  background-image: url(../rock/guitar.jpeg);
  height: 800px;
  background-size: cover;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

h1 {
  text-align: center;
}

header nav {
  background-color: rgba(56, 32, 32, 0.8);
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav nav ul nav ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding-right: 40px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  color: white;
  background-color: red;
  height: 40px;
  width: 100px;
}

.guitar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  width: 500px;
  height: 1px;
  color: grey;
}

h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.album img {
  height: 350px;
  width: 350px;
}

.tickets {
  color: white;
  background-image: url(../rock/p1.jpg);
  background-size: cover;
  font-size: 40px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-attachment: fixed;
}

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.album2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.album2-padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.album2-hijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.album2 img {
  height: 180px;
  width: 180px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.album2 h3 {
  color: orange;
}

.fireguitar {
  color: white;
  text-align: center;
  font-size: 25px;
  background-image: url(../rock/fireguitar.jpeg);
  background-image: center;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  height: 500px;
}

.fireguitar-son {
  width: 70vh;
  background-color: rgba(0, 0, 0, 0.4);
}

audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faces img {
  height: 200px;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer div {
  border: solid black 1px;
  padding-top: 100px;
  background-size: cover;
  height: 300px;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */