header {
  background-image: url(../rock/guitar.jpeg);
  height: 800px;
  background-size: cover;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

header nav {
  background-color: rgba(56, 32, 32, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  color: white;
  background-color: red;
  height: 40px;
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guitar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  width: 500px;
  height: 1px;
  color: grey;
}

h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.album img {
  height: 400px;
  width: 400px;
}

.tickets {
  color: white;
  background-image: url(../rock/p1.jpg);
  background-size: cover;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-attachment: fixed;
}

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.album2 {
  color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.album2 img {
  height: 200px;
  width: 200px;
}

.album2 h3 {
  color: orange;
}

.fireguitar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fireguitar img {
  height: 600px;
  width: 1000px;
}

.fireguitar nav {
  height: 200px;
  width: 100px;
}

.faces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.faces img {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

footer div {
  border: solid black 1px;
  padding-top: 100px;
  width: 2000px;
  height: 300px;
  background-color: grey;
}